
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.photo-box {
    min-width: 300px;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
}